.top-wrapper {
	color: white;
	background:linear-gradient(#3E53A9e6,#4c516de6,#2d3436e6),url('../img/t.jpg');	background-size: cover;
}

.paralla {
	background:url('../img/b.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	height:350px;
}

::selection {
	background:#616698;
}

header a:hover {
	color:#FFBA08;
}

.name {
	font-weight: bold;
}

.subtitle #span1 {
	color: #ff5349;
}

.subtitle #span2 {
	color: #7FFF00;
}

.subtitle #span3 {
	color: #ffeaa7;
}

.about a:hover {
	color:#FFBA08;
}

.buttons{
	border-top: 1px solid;


		flex:1;
		align-self: flex-end;
		align-items: flex-end;
		vertical-align: bottom;
	position: relative;
}                                                                                                                                                                                                                                                                                                                                                               

button {
    height:3em;
    padding: 0 16px;
    border:none;
    text-align: center;
    cursor:pointer;
    background:none;
    display:inline-block;
    margin-top:auto;
}

button:hover{
    color:#FFBA08;
    background-color:black;
}

.card p {
	height:75px;
	font-size: 80%;
}

.card span {
	padding:5px;
	border-radius:5px;
}

ion-icon:hover {
	color:#FFBA08;
}

.card:hover {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.contact a {
	font-weight: 600;
	color:#81ecec;
}

.contact a:hover {
	color:#FFBA08;
}

.bottom {
	text-align: center;
	font-size: 14px;
	font-weight:300;
	background:black;
	color: white;
}

.bottom span {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	-webkit-animation: moon 8s infinite;
	-moz-animation: moon 8s infinite;
	animation: moon 8s infinite;
}

.bottom span:nth-child(2) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.bottom span:nth-child(3) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.bottom span:nth-child(4) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

.bottom span:nth-child(5) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay: 4s;
}

.bottom span:nth-child(6) {
	-webkit-animation-delay:5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.bottom span:nth-child(7) {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	animation-delay: 6s;
}

.bottom span:nth-child(8) {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	animation-delay: 7s;
}

@-webkit-keyframes moon {
	0%, 12.5% {opacity: 1}
 	12.51%, 100% {opacity: 0}
}